{{ if eq .Section "projects" }}

<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural 1 | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>
  </header>

  {{ if eq .Site.Language.Lang "pt-br" }}
  <h2>Aqui estão alguns projetos que fiz, a maior parte para estudos. Se desejar fique à vontade para submeter um PR!</h2>
  {{ else }}
  <h2>Those are some projects I created, mostly for study purposes. If you want feel free to submit a PR!</h2>
  {{ end }}

  {{ .Content }}
  <div class="card-container">
    {{ range .Paginator.Pages }}
  <div class="card">
    <div class="card-body">
	<h5 class="card-title">{{ .Title }}</h5>
	<p class="card-text">{{ .Description }}</p>

	<div class="card-tags">
	  {{ range .Params.tags }}
	  <span class="card-tag">{{ . }}</span>
	  {{ end }}
	</div>

	<a href="{{ .Params.github | default .RelPermalink }}" class="btn btn-primary">Repo Link</a>
    </div>
  </div>
    {{ end }}
  </div>

  {{ partial "pagination.html" . }}
<section>

{{ else }}
<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural 1 | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>
  </header>
  {{ .Content }}
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
{{ end }}
